
body {
    padding: 0;
    margin: 0;
}


.signup-background::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    opacity:0.6;
   /*background: rgba(76, 175, 80, 0.3);*/
    z-index: -1;
    background-image: url("./images/nature5.jpg");
   /* filter: blur(1px);
  -webkit-filter: blur(1px);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}





.card {
    font-size: .875rem;
}

.ing-bdb{
    border: none;
     background-color: white;
}

.fc-bdb{
    border: none;
    border-bottom: solid gray 1px;
}

.signup-card {
    margin-top: 15%;
}